<html>
<form action="sign_in" method="POST">
    <div>
      パスワード:<input type="password" name="password" value="">
    </div>
    <div>
      名前:<input type="text" name="name" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</html>