<html>
<form action="user/new" method="POST">
    <div>
      名前:<input type="text" name="name" value="">
    </div>
    <div>
      パスワード:<input type="password" name="password" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
      <% if @header != nil %>
        <%= @header %>
      <% end %> 
    </div>
  </form>
</html>